*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.container{
    background-color: #50AA79;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    height: 450px;
    width: 550px;
    box-shadow: 2px 3px 10px  gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: url(bicycle.png);
    background-position-y: 195px;
    background-size: 550px;
    background-repeat: no-repeat;
    padding:20px 30px;
}
.simple{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
.simple p{
    font-size: 27px;
    font-weight: 600;
}
.profile{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile img{
    height: 100%;
    width: 100%;
}
.profile:hover{
    box-shadow: 0px 0px 0px 5px #e6e6e6;
}
.text p{
    color: #757575;
    font-family: calibri;
    margin-top: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: flex-end;
}
.price p:first-child{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #757575;
    font-size: 20px;
}
.price p:last-child{
    color: black;
    font-weight: 600;
    font-size: 1.6em;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: flex-end;
}
.total p:first-child{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #757575;
    font-size: 30px;
    font-weight: 700;
}
.total p:last-child{
    color: black;
    font-weight: 600;
    font-size: 1.6em;